<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>FilterAndListener</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <listener>
	<listener-class>SessionListener</listener-class>
  </listener>
  
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  
  <servlet>  
	<servlet-name>s1</servlet-name>  
	<servlet-class>TryServlet</servlet-class>  
  </servlet>  
  
  <servlet-mapping>  
	<servlet-name>s1</servlet-name>  
	<url-pattern>/servlet1</url-pattern>  
  </servlet-mapping>  
  
  <filter>  
	<filter-name>f1</filter-name>  
	<filter-class>TryFilter</filter-class>  
  </filter>  
   
  <filter-mapping>  
	<filter-name>f1</filter-name>  
	<url-pattern>/servlet1</url-pattern>  
  </filter-mapping>  
</web-app>